<div class="w-full p-8 mx-auto overflow-y-auto">
  <div class="w-full grid grid-cols-1 sm:grid-cols-2  gap-4">
    <div class=" p-4 flex container items-center bg-blue-600 text-white rounded-lg shadow-sm shadow-blue-600">

      <div class="container rounded-full w-16 h-16 items-center flex justify-center border" >
        <mat-icon class="scale-150">groups</mat-icon>
      </div>
      <div class="flex flex-col ml-4">
        <div class="font-bold text-xl"> {{ '50600' | number: '1.0-0'}}</div>
        <div class="font-light text-lg">STUDENTS</div>
      </div>
    </div>

    <div class="bg-white p-4 flex container items-center border border-blue-600 text-blue-600 rounded-lg shadow-md">
      <div class="container rounded-full w-16 h-16 items-center flex justify-center border border-blue-600" >
        <mat-icon class="scale-150">badge</mat-icon>
      </div>
      <div class="flex flex-col ml-4">
        <div class="font-bold  text-xl"> {{ '50600' | number: '1.0-0'}}</div>
        <div class="font-light  text-lg">TEACHERS</div>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row my-6 gap-3">
    <div class="w-full bg-white p-4 rounded shadow lg:w-1/3 xl:w-1/3 m-0 mb-4 lg:mb-0" >
      <canvas class="chart-container"  baseChart
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </div>

    <div class="w-full bg-white p-4 rounded shadow lg:w-1/3 xl:w-1/3 m-0 mb-4 lg:mb-0" >
      <canvas
        baseChart
        class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>

    <div class="w-full bg-white p-4 rounded shadow lg:w-1/3 xl:w-1/3 m-0 mb-4  lg:mb-0 max-h-80" >
      <canvas
        baseChart
        class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions">
      </canvas>
    </div>
  </div>

  <div class="flex flex-col md:flex-row my-6 gap-3">
    <div class="w-full bg-white p-4 rounded shadow lg:w-1/3 xl:w-1/3 m-0 mb-4  lg:mb-0 max-h-84 overflow-y-auto">
      <div class="w-full">
        <button  mat-raised-button type="button" class="bg-blue-500 text-white mr-1 float-right">
          <mat-icon class="text-gray-200">add</mat-icon>
          New
        </button>
      </div>
      <app-subject-table [subjects]="subjects"></app-subject-table>
    </div>

    <div class="w-full bg-white p-4 rounded shadow lg:w-2/3 xl:w-2/3 m-0 mb-4  lg:mb-0 max-h-84 overflow-y-auto">
      <div class="w-full">
        <button  mat-raised-button type="button" class="bg-blue-500 text-white mr-1 float-right">
          <mat-icon class="text-gray-200">add</mat-icon>
          New
        </button>
      </div>
      <app-teacher-table [teachers]="teachers"></app-teacher-table>
    </div>

  </div>

</div>
