<div class="bg-blue-600 h-full w-full px-6 flex flex-col">
  <header class="w-full h-16 flex justify-between container items-center px-2">
    <div class="flex container w-auto items-center">
      <div class="border container items-center text-xl font-bold rounded-full w-12 h-12 bg-white text-blue-600 flex justify-center">
        AK
      </div>
      <span class="text-ld ml-2 font-semibold text-white">Ali Kalema</span>
    </div>

    <div class="text-white font-bold text-xl">STUDENT PORTAL</div>

    <div class="">
      <button mat-raised-button class="bg-blue-900 text-slate-50">LogOut</button>
    </div>
  </header>

  <div class="flex-1 bg-white rounded-t-2xl"></div>
</div>
